body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App-header {
  background-color: #282c34;
  text-align: center;
  justify-content: center;
  font-size: calc(10px);
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}
.body {
  margin-top: 70px;
}
.button {
  padding: 5px;
  color:black;
  text-decoration: none;
  margin: 1px;
}

.form {
  padding: 10px;
  width: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.btn {
  margin: 10px;
}
.form-control {
  margin: 10px;
}
.add-form {
  padding: 10px;
  width: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.edit-form {
  padding: 10px;
  width: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.app-list-item-label {
  font-size: 18pt;
  color: black;
}
.app-list-item-label:hover {
  text-decoration: none;
  color:#007bff;
}
.comments-item {
  font-size: 8pt;
}
.button-delete-post {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 0 10px;
}
.button-edit-post {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}
.button-delete-comment {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 0 10px;
}
.button-edit-comment {
  width: 20px;
  height: 20px;
  margin: 0 10px;
}